In [77]:
import pandas as pd
import json 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [78]:
# Show up to 15 cols, 50 rows by default
pd.set_option("display.max_rows", 7)
# Suitable default display for floats
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 10)

### Read JSON Data

In [24]:
df = pd.read_json("data/AAPL-BALANCE.json")
df2 = pd.read_json("data/AAPL-REV.json")
df3 = pd.read_json("data/AAPL-CAFLOW.json")

### Convert Json into PandasDF

In [25]:
pd.DataFrame(df)
pd.DataFrame(df2)
pd.DataFrame(df3)

,date,symbol,reportedCurrency,fillingDate,acceptedDate,period,netIncome,depreciationAndAmortization,deferredIncomeTax,stockBasedCompensation,...,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,link,finalLink
0,2020-09-26,AAPL,USD,2020-10-30,2020-10-29 18:06:25,FY,57411000000,11056000000,-215000000,6829000000,...,-86820000000,0,-10435000000,39789000000,50224000000,80674000000,-7309000000,73365000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,2019-09-28,AAPL,USD,2019-10-31 00:00:00,2019-10-30 18:12:36,FY,55256000000,12547000000,-340000000,6068000000,...,-90976000000,0,24311000000,50224000000,25913000000,69391000000,-10495000000,58896000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,2018-09-29,AAPL,USD,2018-11-05 00:00:00,2018-11-05 08:01:40,FY,59531000000,10903000000,-32590000000,5340000000,...,-87876000000,0,5624000000,25913000000,20289000000,77434000000,-13313000000,64121000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,1991-09-30,AAPL,USD,1991-09-30,1991-09-30,FY,309800000,204400000,8000000,0,...,42500000,0,0,0,374700000,128700000,-218300000,-89600000,,
30,1990-09-30,AAPL,USD,1990-09-30,1990-09-30,FY,474900000,202700000,138900000,0,...,-454000000,0,0,0,438300000,963900000,-224300000,739600000,,
31,1989-09-30,AAPL,USD,1989-09-30,1989-09-30,FY,454000000,124800000,111300000,0,...,-38300000,0,0,0,372400000,507300000,-239000000,268300000,,

### Drop columns

In [26]:
dfbalance = df.drop(columns=['reportedCurrency', 'period', 'fillingDate', 'acceptedDate', 'link', 'finalLink'])

In [27]:
dfbalance

,date,symbol,cashAndCashEquivalents,shortTermInvestments,cashAndShortTermInvestments,netReceivables,inventory,otherCurrentAssets,totalCurrentAssets,propertyPlantEquipmentNet,...,totalLiabilities,commonStock,retainedEarnings,accumulatedOtherComprehensiveIncomeLoss,othertotalStockholdersEquity,totalStockholdersEquity,totalLiabilitiesAndStockholdersEquity,totalInvestments,totalDebt,netDebt
0,2020-09-26,AAPL,38016000000,52927000000,90943000000,37445000000,4061000000,11264000000,143713000000,36766000000,...,258549000000,50779000000,14966000000,-406000000,0,65339000000,323888000000,153814000000,112436000000,74420000000
1,2019-09-28,AAPL,48844000000,51713000000,100557000000,45804000000,4106000000,12352000000,162819000000,37378000000,...,248028000000,45174000000,45898000000,-584000000,0,90488000000,338516000000,157054000000,108047000000,59203000000
2,2018-09-29,AAPL,25913000000,40388000000,66301000000,48995000000,3956000000,12087000000,131339000000,41304000000,...,258578000000,40201000000,70400000000,-3454000000,0,107147000000,365725000000,211187000000,114483000000,88570000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,1987-09-30,AAPL,565100000,0,565100000,405600000,225800000,110900000,1307400000,130400000,...,641400000,0,573100000,-158700000,0,836500000,1477900000,0,0,-565100000
34,1986-09-30,AAPL,576200000,0,576200000,263100000,108700000,92900000,1040900000,107300000,...,466000000,0,474300000,-114700000,0,694100000,1160100000,0,0,-576200000
35,1985-09-30,AAPL,337000000,0,337000000,220200000,167000000,97900000,822100000,90400000,...,385700000,0,320300000,-85200000,0,550500000,936200000,0,0,-337000000

In [28]:
dfrevenue = df2.drop(columns=['reportedCurrency', 'fillingDate', 'acceptedDate', 'period', 'link', 'finalLink'])

In [29]:
dfrevenue

,date,symbol,revenue,costOfRevenue,grossProfit,grossProfitRatio,researchAndDevelopmentExpenses,generalAndAdministrativeExpenses,sellingAndMarketingExpenses,sellingGeneralAndAdministrativeExpenses,...,totalOtherIncomeExpensesNet,incomeBeforeTax,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil
0,2020-09-26,AAPL,274515000000,169559000000,104956000000,0.38,18752000000,19916000000,0,19916000000,...,-87000000,67091000000,0.24,9680000000,57411000000,0.21,3.31,3.28,17352119000,17528214000
1,2019-09-28,AAPL,260174000000,161782000000,98392000000,0.38,16217000000,18245000000,0,18245000000,...,422000000,65737000000,0.25,10481000000,55256000000,0.21,2.99,2.97,18471336000,18595652000
2,2018-09-29,AAPL,265595000000,163756000000,101839000000,0.38,14236000000,16705000000,0,16705000000,...,-441000000,72903000000,0.27,13372000000,59531000000,0.22,3.00,2.98,19821508000,20000436000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,1987-09-30,AAPL,2661100000,1225700000,1435400000,0.54,0,993400000,0,1063900000,...,38900000,410400000,0.15,192900000,217500000,0.08,0.01,0.01,14674698795,14674698795
34,1986-09-30,AAPL,1901900000,840000000,1061900000,0.56,0,737300000,0,788400000,...,36200000,309800000,0.16,155800000,154000000,0.08,0.01,0.01,14373333333,14373333333
35,1985-09-30,AAPL,1918300000,1076000000,842300000,0.44,0,653200000,0,695000000,...,-27200000,120000000,0.06,58800000,61200000,0.03,0.00,0.00,13708800000,13708800000

In [30]:
dfcashflow = df3.drop(columns=['reportedCurrency', 'fillingDate', 'acceptedDate', 'period', 'link', 'finalLink'])

In [31]:
dfcashflow

,date,symbol,netIncome,depreciationAndAmortization,deferredIncomeTax,stockBasedCompensation,changeInWorkingCapital,accountsReceivables,inventory,accountsPayables,...,dividendsPaid,otherFinancingActivites,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow
0,2020-09-26,AAPL,57411000000,11056000000,-215000000,6829000000,-18780000000,6917000000,-127000000,-4062000000,...,-14081000000,-3760000000,-86820000000,0,-10435000000,39789000000,50224000000,80674000000,-7309000000,73365000000
1,2019-09-28,AAPL,55256000000,12547000000,-340000000,6068000000,42628000000,245000000,-289000000,-1923000000,...,-14119000000,-2922000000,-90976000000,0,24311000000,50224000000,25913000000,69391000000,-10495000000,58896000000
2,2018-09-29,AAPL,59531000000,10903000000,-32590000000,5340000000,-13358000000,-5322000000,828000000,9175000000,...,-13712000000,-2527000000,-87876000000,0,5624000000,25913000000,20289000000,77434000000,-13313000000,64121000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,1991-09-30,AAPL,309800000,204400000,8000000,0,270200000,0,-316200000,0,...,-56500000,100000,42500000,0,0,0,374700000,128700000,-218300000,-89600000
30,1990-09-30,AAPL,474900000,202700000,138900000,0,-22800000,0,119900000,0,...,-53800000,0,-454000000,0,0,0,438300000,963900000,-224300000,739600000
31,1989-09-30,AAPL,454000000,124800000,111300000,0,-109000000,0,-13900000,0,...,-50300000,0,-38300000,0,0,0,372400000,507300000,-239000000,268300000

### Check and count Missing Values

In [32]:
dfbalance.isnull().sum(axis=1)

0     0
1     0
2     0
     ..
33    0
34    0
35    0
Length: 36, dtype: int64

In [33]:
dfrevenue.isnull().sum(axis=1)

0     0
1     0
2     0
     ..
33    0
34    0
35    0
Length: 36, dtype: int64

In [34]:
dfcashflow.isnull().sum(axis=1)

0     0
1     0
2     0
     ..
29    0
30    0
31    0
Length: 32, dtype: int64

#### So, we drop some columns and check missing values. It's time to go more deeply. Looks like my data needs to be sorter in order to analyze.

In [35]:
dfbalance = dfbalance.sort_values("date")

In [36]:
dfrevenue = dfrevenue.sort_values("date")

In [37]:
dfcashflow = dfcashflow.sort_values("date")

#### Mmmm... our numbers looks ugly. Let's fix it.

In [65]:
jejeje = dfcashflow

In [66]:
jejeje.astype('category')

,date,symbol,netIncome,depreciationAndAmortization,deferredIncomeTax,stockBasedCompensation,changeInWorkingCapital,accountsReceivables,inventory,accountsPayables,...,dividendsPaid,otherFinancingActivites,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow
31,1989-09-30,AAPL,454000000,124800000,111300000,0,-109000000,0,-13900000,0,...,-50300000,0,-38300000,0,0,0,372400000,507300000,-239000000,268300000
30,1990-09-30,AAPL,474900000,202700000,138900000,0,-22800000,0,119900000,0,...,-53800000,0,-454000000,0,0,0,438300000,963900000,-224300000,739600000
29,1991-09-30,AAPL,309800000,204400000,8000000,0,270200000,0,-316200000,0,...,-56500000,100000,42500000,0,0,0,374700000,128700000,-218300000,-89600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2018-09-29,AAPL,59531000000,10903000000,-32590000000,5340000000,-13358000000,-5322000000,828000000,9175000000,...,-13712000000,-2527000000,-87876000000,0,5624000000,25913000000,20289000000,77434000000,-13313000000,64121000000
1,2019-09-28,AAPL,55256000000,12547000000,-340000000,6068000000,42628000000,245000000,-289000000,-1923000000,...,-14119000000,-2922000000,-90976000000,0,24311000000,50224000000,25913000000,69391000000,-10495000000,58896000000
0,2020-09-26,AAPL,57411000000,11056000000,-215000000,6829000000,-18780000000,6917000000,-127000000,-4062000000,...,-14081000000,-3760000000,-86820000000,0,-10435000000,39789000000,50224000000,80674000000,-7309000000,73365000000

In [67]:
format_dict = {col_name: '${:,.2f}' for col_name in jejeje.select_dtypes(include=['int64']).columns}

format_dict['Individual % of total'] = '{:.1%}'

jejeje.head().style.format(format_dict)

In [86]:
sns.set_style('dark')
ax = sns.lineplot(
            x='netIncome', 
            y='date',
            data=jejeje,
            color = 'c'
                );
ax.set(xlabel='Year', ylabel='Total Inventory in Billion USD')
plt.show()

TypeError: argument of type 'Styler' is not iterable